{% extends 'main.html' %}
{% block title %} My account {% endblock title %}
{% block title_h1 %} Change your {% endblock title_h1 %}
{% block title_h2 %} Password. {% endblock title_h2 %}
{% block content %}

        <form action="{% url 'change-password' %}" method="POST" class="d-flex flex-column justify-content-center m-5">
                {% csrf_token %}
                    {{form.as_table}}
                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-primary mx-4">Save new password</button>
                        <a class="btn btn-primary mx-4" aria-current="page" href="{% url 'account' %}">Back</a>
                        <a class="btn btn-primary mx-4" aria-current="page" href="{% url 'home' %}">Home</a>
                    </div>

        </form>


{% endblock %}